workflow/ThreadsAutoPostDemo.json
{
  "name": "ThreadsAutoPostDemo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "660caa06-5289-4a2f-aa47-19a056f98192",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "14KWSsYaPdiLy1E5b6C5DC1Q1DNX92CxCrmI6h1sQp0k",
          "mode": "list",
          "cachedResultName": "n8n_demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14KWSsYaPdiLy1E5b6C5DC1Q1DNX92CxCrmI6h1sQp0k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "threads-post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_C40kGpnqqzMhfcQsKCgOWFoujv1mcSXHqBDlmINZJk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ContainerId": "={{ $json.id }}",
            "row_number": "={{ $('GetLastestUnpublish').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tag",
              "displayName": "Tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Posted",
              "displayName": "Posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ContainerId",
              "displayName": "ContainerId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        860,
        0
      ],
      "id": "c7be13c5-9c97-4a3b-b8f8-6ecc97b00f9b",
      "name": "InsertContainerId",
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N1etBoB89BT2VkDr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.threads.net/v1.0/your_user_id/threads_publish",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "your_long_lived_token"
            },
            {
              "name": "creation_id",
              "value": "={{ $json.ContainerId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        180
      ],
      "id": "e3e58234-ded2-4778-8e33-c79b558eb1b9",
      "name": "PublishPost",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "14KWSsYaPdiLy1E5b6C5DC1Q1DNX92CxCrmI6h1sQp0k",
          "mode": "list",
          "cachedResultName": "n8n_demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14KWSsYaPdiLy1E5b6C5DC1Q1DNX92CxCrmI6h1sQp0k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "threads-post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14KWSsYaPdiLy1E5b6C5DC1Q1DNX92CxCrmI6h1sQp0k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('InsertContainerId').item.json.row_number }}",
            "Posted": "True"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Posted",
              "displayName": "Posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ContainerId",
              "displayName": "ContainerId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1360,
        0
      ],
      "id": "bed1627a-b54d-47f0-b633-2b2701291855",
      "name": "UpdatePostStatus",
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N1etBoB89BT2VkDr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.threads.net/v1.0/your_user_id/threads",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "TEXT"
            },
            {
              "name": "access_token",
              "value": "your_long_lived_token"
            },
            {
              "name": "text",
              "value": "={{ $json.Content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        180
      ],
      "id": "65f4ec1a-5461-456c-9064-840125a56d9e",
      "name": "CreatePostContainer",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14KWSsYaPdiLy1E5b6C5DC1Q1DNX92CxCrmI6h1sQp0k",
          "mode": "list",
          "cachedResultName": "n8n_demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14KWSsYaPdiLy1E5b6C5DC1Q1DNX92CxCrmI6h1sQp0k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "threads-post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14KWSsYaPdiLy1E5b6C5DC1Q1DNX92CxCrmI6h1sQp0k/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        0
      ],
      "id": "dc2282d3-df1e-414c-a4a2-43995d5b8a53",
      "name": "GetAllPost",
      "alwaysOutputData": false,
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N1etBoB89BT2VkDr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14KWSsYaPdiLy1E5b6C5DC1Q1DNX92CxCrmI6h1sQp0k",
          "mode": "list",
          "cachedResultName": "n8n_demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14KWSsYaPdiLy1E5b6C5DC1Q1DNX92CxCrmI6h1sQp0k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "threads-post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14KWSsYaPdiLy1E5b6C5DC1Q1DNX92CxCrmI6h1sQp0k/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Posted",
              "lookupValue": "={{false}}"
            },
            {
              "lookupColumn": "ContainerId"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        0
      ],
      "id": "a4c26b99-5cc3-48ad-92ae-83bd7519915d",
      "name": "GetLastestUnpublish",
      "alwaysOutputData": false,
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N1etBoB89BT2VkDr",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GetAllPost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertContainerId": {
      "main": [
        [
          {
            "node": "PublishPost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PublishPost": {
      "main": [
        [
          {
            "node": "UpdatePostStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreatePostContainer": {
      "main": [
        [
          {
            "node": "InsertContainerId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetAllPost": {
      "main": [
        [
          {
            "node": "GetLastestUnpublish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetLastestUnpublish": {
      "main": [
        [
          {
            "node": "CreatePostContainer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f441c105-f556-4630-8700-3de9fac5bcd7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f4f0cd46588ed77382c376951864ff43e9aba1591932f46a00f7d679cdf1ee9"
  },
  "id": "T79dGgMesOCsl3ro",
  "tags": []
}